
*{
    font-family: 'Kanit', sans-serif;
    font-weight:900;
}

body {
    margin: 0;
}
/*------------------------------------accueil---------------------------*/

.container-col {
    display: flex;
}
.container-col .col-1{
    width: 50%;
}

.container-col .col-1 img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position:50% 30%;
}
.container-col .col-2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    
}
.container-col .col-2 h1{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    
    
}

.container-col .col-2 .contain-col-2{
    display: flex;
    flex-direction: column;
    align-items: center;   
    
}
.container-col .col-2 .contain-col-2 .btn {
box-shadow: inset 0 0 0 0 #e2b34c;
  color: #b11010;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.8s ease-in-out;
  margin-top: 50px;
  font-size: 25px;
}

.container-col .col-2 .contain-col-2 .btn:hover{
  box-shadow: inset 200px 0 0 0 #e2b34c;
  color: #fff;

}

/* Ajouter une transition sur les éléments que vous voulez animer */
.transition {
    transition: all 1s ease-in-out;
  }
  
/*---------------------------accueil switch--------------------------------*/

header .container-name {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

header .container-name .name {
    text-align: center;
}

header .container-name .name p{
    letter-spacing: 10px;
    font-size: 12px;
}

header .container-name .name h1{
    font-weight: bold;
    font-size: 50px;
}

header .navigation .nav-link{
    color: black;
}

header .navigation {
    margin-top: 30px;
}

header .navigation .nav {
    gap: 30px;
}

header {
    height: 200px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 10px #bebdb9;
    z-index: 1;
    background-color: white;
}

/*---------------les phtoto--------------------------*/

article  {
    position: absolute;
    margin-top: 210px;
    width: 100%;
}

article .container-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px; 
}

article .container-photo img {
    width: 500px;
    height: 600px;
    object-fit: cover;
    transition: transform 0.2s ease-out ;
}

article .container-photo img:hover{
    opacity: 0.95;
    transform: scale(1.1);   
}

/* Overlay */
.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

/*---------------------fondu carousel------------------------*/

/* Container */
.mfp-wrap {
    opacity: 0;
    transition: all 0.8s ease-out;
}

/* Image */
.mfp-figure {
    opacity: 1;
    transition: all 1s ease-out;
}

/* Fade-in effect when opening */
.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-wrap.mfp-ready {
    opacity: 1;
}

.mfp-figure.mfp-ready {
    opacity: 1;
}

/* Fade-out effect when closing */
.mfp-bg.mfp-removing, .mfp-bg.mfp-loading {
    opacity: 0;
}

.mfp-wrap.mfp-removing, .mfp-wrap.mfp-loading {
    opacity: 0;
}

.mfp-figure.mfp-removing, .mfp-figure.mfp-loading {
    opacity: 0;
}
